.content-container{
    z-index: 10;
    background-color:black;
    position: absolute;
    right: 0;
    height: 100vh;
    transition: all 1s;
}
.title{
    background-color: aqua;
    text-align: center;
    font-size: 48px;
}
.content{
    background-color: darkcyan;
}