.header-container{
    background: rgb(158, 206, 180);
    height: 2rem;
    width: 100vw;
}
.menu{
    position: absolute;
}
.clock{
    position: absolute;
    right: 5vw;
    line-height: 2rem;
    display: flex;
    color: white;
    font-weight: bold;
}